<div class="title">{{unbound fa-icon "fa-dashboard"}} Cockpit</div>

{{#if me.isLoggedIn}}
  <div class="content">

    <div class="player-infos">
      <div class="left-column">
        <div class="img_container">
          <img src={{me.user.img_url}} />
        </div>
        <div class="name">{{me.user.name}}</div>
        <div class="score_container">
          <span class="cockpit_score score"><b>Score</b> {{me.user.score}}</span>
        </div>
        <div><i class="fa fa-star"></i> <span class="stars">{{me.user.stars}}</span></div>
        <div class="rank_container">
            <span class="cockpit_rank rank">{{me.user.rank}}</span>. in the leaderboard
        </div>
      </div>
      <div class="right-column">
        <div><b>Max. Ammo:</b> {{canon_capacity}}</div>
        <div>
          {{#tooltip-component tooltip="BPS = <u>B</u>ullets <u>P</u>er <u>S</u>econd<br /> A higher BPS means, that your canon reloads faster."}}
            BPS:
          {{/tooltip-component}}
          {{canon_bps}}
        </div>
      </div>
    </div>

    <div class="tab-container">
      <div class="workbench tab">
        {{#link-to 'index' (query-params cockpit_section="workbench")}}
          <span class="fa-stack">
            {{unbound fa-icon "fa-rocket" stack=1}}
          </span>
        {{/link-to}}
      </div>
      {{#if (if-equals me.user.lab.status 'unlocked') }}
        <div class="lab tab">
          {{#link-to 'index' (query-params cockpit_section="lab")}}
            <span id="lab-tab" class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{timer-component type='lab-tab' component=me.user.lab}}
            </span>
          {{/link-to}}
        </div>
      {{else}}
        {{#if (if-equals me.user.lab.status 'under_construction') }}
          <div class="lab tab">
            <span id="lab-tab" class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{timer-component type='lab-tab' component=me.user.lab}}
            </span>
          </div>
        {{else}}
          <div class="lab tab" {{action 'buyLab'}}>
            <span class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{#tooltip-component tooltip="You need 1000 stars to unlock the lab!"}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              {{/tooltip-component}}
            </span>
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if (if-equals currentSection 'workbench') }}
      <div id="workbench">
        <h2>Workbench</h2>
        <div id="workbench-item-container" class="item-container">
          <img src="assets/images/rocket_workbench.png" />
          {{#if (if-equals me.user.rocket.canon.status 'unlocked') }}
            <span id="canon" class="fa-stack block-button">
              {{unbound fa-icon "fa-bullseye" stack=1}}
              <div class="workbench-item-tooltip">
                {{#tooltip-component tooltip=canon_tooltip}}
                  {{unbound fa-icon "fa-exclamation-circle info" stack=1}}
                {{/tooltip-component}}
              </div>
            </span>
          {{else}}
            {{#if (if-equals me.user.rocket.canon.status 'under_construction') }}
              <span id="canon" class="fa-stack block-button" title="Your Canon">
                {{unbound fa-icon "fa-bullseye" stack=1}}
                {{timer-component type='canon' component=me.user.rocket.canon}}
              </span>
            {{else}}
              <span id="canon" class="fa-stack block-button"
                title="You need 500 stars to unlock the canon!"
                {{action 'buyCanon'}}>
                {{unbound fa-icon "fa-bullseye" stack=1}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              </span>
            {{/if}}
          {{/if}}
          <span id="shield" class="fa-stack block-button" title="You need 500 stars to unlock the shield!">
            {{unbound fa-icon "fa-shield" stack=1}}
            {{unbound fa-icon "fa-lock locked" stack=1}}
          </span>
          <span id="drive" class="fa-stack block-button" title="You need 500 stars to unlock the engine!">
            {{unbound fa-icon "fa-forward" stack=1}}
            {{unbound fa-icon "fa-lock locked" stack=1}}
          </span>
          {{!-- <div id="canon-infos" title="capacity"></div> --}}
        </div>
      </div>
    {{else}}
      <div id="lab">
        <h2>Lab</h2>
        {{#if (if-equals me.user.lab.status 'unlocked') }}
          <div class="tab-container">
            <div id="canon-upgrades" class="fa-stack tab locked">
              <i class="fa fa-bullseye fa-stack-1x" title="The available canon upgrades."></i>
              <i class="fa fa-lock fa-stack-1x locked" title="You need to buy the canon at the workbench first, to unlock the canon upgrades!"></i>
            </div>
            <div id="canon-upgrades-infos"></div>
          </div>
        {{else}}
          <div class="locked-info">
            <div>{{unbound fa-icon "fa-lock"}}</div>
            <div>Locked</div>
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>
{{else}}
  <div class="login-info">
    <div>{{unbound fa-icon "fa-lock"}}</div>
    <div>Please log in.</div>
  </div>
{{/if}}
