<div class="title">{{unbound fa-icon "fa-dashboard"}} Cockpit</div>

{{#if me.isLoggedIn}}
  <div class="content">

    {{player-infos me=me}}

    <div class="tab-container">
      <div class="workbench tab">
        {{#link-to 'index' (query-params cockpit_section="workbench")}}
          <span class="fa-stack">
            {{unbound fa-icon "fa-rocket" stack=1}}
          </span>
        {{/link-to}}
      </div>
      {{#if (if-equals me.user.lab.status 'unlocked') }}
        <div class="lab tab">
          {{#link-to 'index' (query-params cockpit_section="lab")}}
            <span id="lab-tab" class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{timer-component type='lab-tab' component=me.user.lab}}
            </span>
          {{/link-to}}
        </div>
      {{else}}
        {{#if (if-equals me.user.lab.status 'under_construction') }}
          <div class="lab tab">
            <span id="lab-tab" class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{timer-component type='lab-tab' component=me.user.lab}}
            </span>
          </div>
        {{else}}
          <div class="lab tab" {{action 'buyLab'}}>
            <span class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{#tooltip-component tooltip=me.user.lab.tooltip}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              {{/tooltip-component}}
            </span>
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if (if-equals currentSection 'workbench') }}
      <div id="workbench">
        <h2>Workbench</h2>
        <div id="workbench-item-container" class="item-container">
          <img src="assets/images/rocket_workbench.png" />
          {{!-- CANON --}}
          {{#if (if-equals me.user.rocket.canon.status 'unlocked') }}
            <span id="canon" class="block-button">
              {{unbound fa-icon "fa-bullseye"}}
              <div class="info">
                {{me.user.rocket.canon.selectedRocketComponentModelMm.rocketComponentModel.model}}
              </div>
            </span>
          {{else}}
            {{#if (if-equals me.user.rocket.canon.status 'under_construction') }}
              <span id="canon" class="fa-stack block-button">
                {{unbound fa-icon "fa-bullseye" stack=1}}
                {{timer-component type='canon' component=me.user.rocket.canon}}
              </span>
            {{else}}
              {{#if me.user.rocket.canon}}
                <span id="canon" class="fa-stack block-button" {{action 'buyCanon'}}>
                  {{unbound fa-icon "fa-bullseye" stack=1}}
                  {{#tooltip-component tooltip=me.user.rocket.canon.tooltip}}
                    {{unbound fa-icon "fa-lock locked" stack=1}}
                  {{/tooltip-component}}
                </span>
              {{else}}
                <span id="canon" class="fa-stack block-button">
                  {{unbound fa-icon "fa-circle-o-notch" spin=true}}
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
          {{!-- SHIELD --}}
          {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
            <span id="shield" class="block-button">
              {{unbound fa-icon "fa-shield"}}
              <div class="info">
                {{me.user.rocket.shield.selectedRocketComponentModelMm.rocketComponentModel.model}}
              </div>
            </span>
          {{else}}
            {{#if (if-equals me.user.rocket.shield.status 'under_construction') }}
              <span id="shield" class="fa-stack block-button">
                {{unbound fa-icon "fa-shield" stack=1}}
                {{timer-component type='shield' component=me.user.rocket.shield}}
              </span>
            {{else}}
              {{#if me.user.rocket.shield}}
                <span id="shield" class="fa-stack block-button" {{action 'buyShield'}}>
                  {{unbound fa-icon "fa-shield" stack=1}}
                  {{#tooltip-component tooltip=me.user.rocket.shield.tooltip}}
                    {{unbound fa-icon "fa-lock locked" stack=1}}
                  {{/tooltip-component}}
                </span>
              {{else}}
                <span id="shield" class="fa-stack block-button">
                  {{unbound fa-icon "fa-circle-o-notch" spin=true}}
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
          {{!-- ENGINE --}}
          {{#if (if-equals me.user.rocket.engine.status 'unlocked') }}
            <span id="engine" class="block-button">
              {{unbound fa-icon "fa-forward"}}
              <div class="info">
                {{me.user.rocket.engine.selectedRocketComponentModelMm.rocketComponentModel.model}}
              </div>
            </span>
          {{else}}
            {{#if (if-equals me.user.rocket.engine.status 'under_construction') }}
              <span id="engine" class="fa-stack block-button">
                {{unbound fa-icon "fa-forward" stack=1}}
                {{timer-component type='engine' component=me.user.rocket.engine}}
              </span>
            {{else}}
              {{#if me.user.rocket.engine}}
                <span id="engine" class="fa-stack block-button" {{action 'buyEngine'}}>
                  {{unbound fa-icon "fa-forward" stack=1}}
                  {{#tooltip-component tooltip=me.user.rocket.engine.tooltip}}
                    {{unbound fa-icon "fa-lock locked" stack=1}}
                  {{/tooltip-component}}
                </span>
              {{else}}
                <span id="engine" class="fa-stack block-button">
                  {{unbound fa-icon "fa-circle-o-notch" spin=true}}
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{else}}
      <div id="lab">
        <h2>Lab</h2>
        {{#if (if-equals me.user.lab.status 'unlocked') }}
          <div class="tab-container">
            <div id="canon-upgrades" class="tab">
              {{#if (if-equals me.user.rocket.canon.status 'unlocked') }}
                {{#link-to 'index' (query-params lab_section="canon")}}
                  {{unbound fa-icon "fa-bullseye"}}
                {{/link-to}}
              {{else}}
                {{#if (if-equals me.user.rocket.canon.status 'under_construction') }}
                  {{unbound fa-icon "fa-bullseye"}}
                  {{timer-component type='canon' component=me.user.rocket.canon}}
                {{else}}
                  <span class="fa-stack" {{action 'buyCanon'}}>
                    {{unbound fa-icon "fa-bullseye" stack=1}}
                    {{#tooltip-component tooltip=me.user.rocket.canon.tooltip}}
                      {{unbound fa-icon "fa-lock locked" stack=1}}
                    {{/tooltip-component}}
                  </span>
                {{/if}}
              {{/if}}
            </div>
            <div id="shield-upgrades" class="tab">
              {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
                {{#link-to 'index' (query-params lab_section="shield")}}
                  {{unbound fa-icon "fa-shield"}}
                {{/link-to}}
              {{else}}
                {{#if (if-equals me.user.rocket.shield.status 'under_construction') }}
                  {{unbound fa-icon "fa-shield"}}
                  {{timer-component type='shield' component=me.user.rocket.shield}}
                {{else}}
                  <span class="fa-stack" {{action 'buyShield'}}>
                    {{unbound fa-icon "fa-shield" stack=1}}
                    {{#tooltip-component tooltip=me.user.rocket.shield.tooltip}}
                      {{unbound fa-icon "fa-lock locked" stack=1}}
                    {{/tooltip-component}}
                  </span>
                {{/if}}
              {{/if}}
            </div>
            <div id="drive-upgrades" class="tab">
              {{#if (if-equals me.user.rocket.engine.status 'unlocked') }}
                {{#link-to 'index' (query-params lab_section="engine")}}
                  {{unbound fa-icon "fa-forward"}}
                {{/link-to}}
              {{else}}
                {{#if (if-equals me.user.rocket.engine.status 'under_construction') }}
                  {{unbound fa-icon "fa-forward"}}
                  {{timer-component type='engine' component=me.user.rocket.engine}}
                {{else}}
                  <span class="fa-stack" {{action 'buyEngine'}}>
                    {{unbound fa-icon "fa-forward" stack=1}}
                    {{#tooltip-component tooltip=me.user.rocket.engine.tooltip}}
                      {{unbound fa-icon "fa-lock locked" stack=1}}
                    {{/tooltip-component}}
                  </span>
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="upgrade-infos">
            {{#if (if-equals currentLabSection 'canon') }}
              {{component-upgrades
                componentType=currentLabSection
                component=me.user.rocket.canon}}
            {{/if}}
            {{#if (if-equals currentLabSection 'shield') }}
              {{component-upgrades
                componentType=currentLabSection
                component=me.user.rocket.shield}}
            {{/if}}
            {{#if (if-equals currentLabSection 'engine') }}
              {{component-upgrades
                componentType=currentLabSection
                component=me.user.rocket.engine}}
            {{/if}}
          </div>
        {{else}}
          <div class="locked-info">
            <div>{{unbound fa-icon "fa-lock"}}</div>
            <div>Locked</div>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if show_not_enough_stars_alert}}
      {{#prompt-component}}
    		Not enough stars!
    	{{/prompt-component}}
    {{/if}}

  </div>
{{else}}
  <div class="login-info">
    <div>{{unbound fa-icon "fa-lock"}}</div>
    <div>Please log in.</div>
  </div>
{{/if}}
