<div class="title">{{unbound fa-icon "fa-dashboard"}} Cockpit</div>

{{#if me.isLoggedIn}}
  <div class="content">

    <div class="player-infos">
      <div class="left-column">
        <div class="img_container">
          <img src={{me.user.img_url}} />
        </div>
        <div class="name">{{me.user.name}}</div>
        <div class="score_container">
          <span class="cockpit_score score"><b>Score</b> {{me.user.score}}</span>
        </div>
        <div><i class="fa fa-star"></i> <span class="stars">{{me.user.stars}}</span></div>
        <div class="rank_container">
            <span class="cockpit_rank rank">{{me.user.rank}}</span>. in the leaderboard
        </div>
      </div>
      <div class="right-column">
        <div><b>Ammo:</b> {{me.user.rocket.canon.selectedCanonModelMm.canonModelAmmoLevelMm.canonModelAmmoLevel.capacity}}</div>
        <div>
          {{#tooltip-component tooltip="BPS = <u>B</u>ullets <u>P</u>er <u>S</u>econd<br /> A higher BPS means, that your canon reloads faster."}}
            BPS:
          {{/tooltip-component}}
          {{me.user.rocket.canon.selectedCanonModelMm.canonModelBpsLevelMm.canonModelBpsLevel.bps}}
        </div>
      </div>
    </div>

    <div class="tab-container">
      <div class="workbench tab">
        {{#link-to 'index' (query-params cockpit_section="workbench")}}
          <span class="fa-stack">
            {{unbound fa-icon "fa-rocket" stack=1}}
          </span>
        {{/link-to}}
      </div>
      {{#if (if-equals me.user.lab.status 'unlocked') }}
        <div class="lab tab">
          {{#link-to 'index' (query-params cockpit_section="lab")}}
            <span id="lab-tab" class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{timer-component type='lab-tab' component=me.user.lab}}
            </span>
          {{/link-to}}
        </div>
      {{else}}
        {{#if (if-equals me.user.lab.status 'under_construction') }}
          <div class="lab tab">
            <span id="lab-tab" class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{timer-component type='lab-tab' component=me.user.lab}}
            </span>
          </div>
        {{else}}
          <div class="lab tab" {{action 'buyLab'}}>
            <span class="fa-stack">
              {{unbound fa-icon "fa-flask" stack=1}}
              {{#tooltip-component tooltip="You need 1000 stars to unlock the lab!"}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              {{/tooltip-component}}
            </span>
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if (if-equals currentSection 'workbench') }}
      <div id="workbench">
        <h2>Workbench</h2>
        <div id="workbench-item-container" class="item-container">
          <img src="assets/images/rocket_workbench.png" />
          {{!-- CANON --}}
          {{#if (if-equals me.user.rocket.canon.status 'unlocked') }}
            <span id="canon" class="block-button">
              {{unbound fa-icon "fa-bullseye"}}
              <div class="info">
                {{me.user.rocket.canon.selectedCanonModelMm.canonModel.model}}
              </div>
            </span>
          {{else}}
            {{#if (if-equals me.user.rocket.canon.status 'under_construction') }}
              <span id="canon" class="fa-stack block-button">
                {{unbound fa-icon "fa-bullseye" stack=1}}
                {{timer-component type='canon' component=me.user.rocket.canon}}
              </span>
            {{else}}
              <span id="canon" class="fa-stack block-button"
                title="You need 500 stars to unlock the canon!"
                {{action 'buyCanon'}}>
                {{unbound fa-icon "fa-bullseye" stack=1}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              </span>
            {{/if}}
          {{/if}}
          {{!-- SHIELD --}}
          {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
            <span id="shield" class="fa-stack block-button">
              {{unbound fa-icon "fa-shield" stack=1}}
              <div class="workbench-item-tooltip">
                {{#tooltip-component tooltip=shield_tooltip}}
                  {{unbound fa-icon "fa-exclamation-circle info" stack=1}}
                {{/tooltip-component}}
              </div>
            </span>
          {{else}}
            {{#if (if-equals me.user.rocket.shield.status 'under_construction') }}
              <span id="shield" class="fa-stack block-button">
                {{unbound fa-icon "fa-shield" stack=1}}
                {{timer-component type='shield' component=me.user.rocket.shield}}
              </span>
            {{else}}
              <span id="shield" class="fa-stack block-button"
                title="You need 500 stars to unlock the shield!"
                {{action 'buyShield'}}>
                {{unbound fa-icon "fa-shield" stack=1}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              </span>
            {{/if}}
          {{/if}}
          <span id="drive" class="fa-stack block-button" title="You need 500 stars to unlock the engine!">
            {{unbound fa-icon "fa-forward" stack=1}}
            {{unbound fa-icon "fa-lock locked" stack=1}}
          </span>
        </div>
      </div>
    {{else}}
      <div id="lab">
        <h2>Lab</h2>
        {{#if (if-equals me.user.lab.status 'unlocked') }}
          <div class="tab-container">
            <div id="canon-upgrades" class="tab">
              {{#if (if-equals me.user.rocket.canon.status 'unlocked') }}
                {{unbound fa-icon "fa-bullseye"}}
              {{else}}
                {{#if (if-equals me.user.rocket.canon.status 'under_construction') }}
                  {{unbound fa-icon "fa-bullseye"}}
                  {{timer-component type='canon' component=me.user.rocket.canon}}
                {{else}}
                  <span class="fa-stack" {{action 'buyCanon'}}>
                    {{unbound fa-icon "fa-bullseye" stack=1}}
                    {{#tooltip-component tooltip="You need 500 stars to unlock the canon!"}}
                      {{unbound fa-icon "fa-lock locked" stack=1}}
                    {{/tooltip-component}}
                  </span>
                {{/if}}
              {{/if}}
            </div>
            <div id="shield-upgrades" class="tab">
              {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
                {{unbound fa-icon "fa-shield"}}
              {{else}}
                {{#if (if-equals me.user.rocket.shield.status 'under_construction') }}
                  {{unbound fa-icon "fa-shield"}}
                  {{timer-component type='shield' component=me.user.rocket.shield}}
                {{else}}
                  <span class="fa-stack" {{action 'buyShield'}}>
                    {{unbound fa-icon "fa-shield" stack=1}}
                    {{#tooltip-component tooltip="You need 500 stars to unlock the shield!"}}
                      {{unbound fa-icon "fa-lock locked" stack=1}}
                    {{/tooltip-component}}
                  </span>
                {{/if}}
              {{/if}}
            </div>
            <div id="drive-upgrades" class="tab">
              {{#if (if-equals me.user.rocket.drive.status 'unlocked') }}
                {{unbound fa-icon "fa-forward"}}
              {{else}}
                {{#if (if-equals me.user.rocket.drive.status 'under_construction') }}
                  {{unbound fa-icon "fa-forward"}}
                  {{timer-component type='drive' component=me.user.rocket.drive}}
                {{else}}
                  <span class="fa-stack" {{action 'buyDrive'}}>
                    {{unbound fa-icon "fa-forward" stack=1}}
                    {{#tooltip-component tooltip="You need 500 stars to unlock the engine!"}}
                      {{unbound fa-icon "fa-lock locked" stack=1}}
                    {{/tooltip-component}}
                  </span>
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div id="canon-upgrades-infos"></div>
        {{else}}
          <div class="locked-info">
            <div>{{unbound fa-icon "fa-lock"}}</div>
            <div>Locked</div>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if show_not_enough_stars_alert}}
      {{#prompt-component}}
    		Not enough stars!
    	{{/prompt-component}}
    {{/if}}

  </div>
{{else}}
  <div class="login-info">
    <div>{{unbound fa-icon "fa-lock"}}</div>
    <div>Please log in.</div>
  </div>
{{/if}}
