<h2>{{componentType}}</h2>
<div class="upgrade-content">
  {{#if (if-equals component.status 'unlocked') }}
    {{#each models as |model|}}
      <div class="list-item">
        <div class="block-button list-item-column {{if model.isSelected 'active'}}">
          {{#if (if-equals model.status 'locked') }}
            <span class="fa-stack">
              {{unbound fa-icon icon stack=1}}
              {{#tooltip-component tooltip=model.tooltip}}
                {{unbound fa-icon "fa-lock locked" stack=1}}
              {{/tooltip-component}}
            </span>
          {{else}}
            {{unbound fa-icon icon}}
          {{/if}}
          <div class="info">
            {{model.model}}
          </div>
        </div>
        <div class="list-item-column">
          Upgrade infos
        </div>
        <div class="list-item-column button-column">
          {{#if (if-equals model.status 'locked') }}
            <div class="button">
              {{unbound fa-icon "fa-star"}} {{model.costs}}
            </div>
          {{else}}
            {{#unless model.isSelected}}
              <div class="button">
                select
              </div>
            {{/unless}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="locked-info">
      <div>{{unbound fa-icon "fa-lock"}}</div>
      <div>Locked</div>
    </div>
  {{/if}}
</div>
