<div class="row">

  <div id="game_canvas_container" style="width: 420px; margin: 0px auto; position: relative;">

    <canvas id='game' width='420' height='600'>
      Your browser doesn't support this game. :(
    </canvas>

    {{#if isLoading}}
      <div id='loading'>
        <div id='loading_container'>
          <div id='loading_progress'>
            <span>loading...</span>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if (if-equals currentScene 'gameOver') }}
      <div class="gameOver">
        {{#if newHighscore }}
          You beat your own highscore! <br /><br />
        {{else}}
          Your score: <br /><br />
        {{/if}}
        {{new_score}} <br /><br />
        distance: {{distance}} <br />
        stars: {{stars}} <br />
        x {{level}} ( level )
      </div>
    {{/if}}

  </div>

</div>

<div class="row control-infos show-for-large-up">
    <div class="small-12 columns control-info-text fire">
        <div><i class="fa fa-arrow-up"></i></div>
        <div>fire</div>
    </div>
    <div class="small-6 columns control-info-text left">
        <i class="fa fa-arrow-left"></i> move left
    </div>
    <div class="small-6 columns control-info-text right">
        move right <i class="fa fa-arrow-right"></i>
    </div>
</div>
