<div class="menu-content">

    <div id="button-1" class="button active start-stage" {{action "startStage"}}>
        {{fa-icon 'rocket' size="lg"}} PLAY
    </div>

    <div id="button-2" class="button select-stage" {{action "selectStage"}} {{action "activate" on=""}}>
        {{fa-icon 'wrench' size="lg"}} WORKBENCH
    </div>

</div>

{{ad-banner id='menu_banner'}}
