<div class="row">

  <div id="game-canvas-container" style="width: 420px; margin: 0px auto; position: relative;">

    <canvas id='game' class="{{if aChallengeIsActive "active-challenge"}}" width='420' height='600'>
      Your browser doesn't support this game. :(
    </canvas>

    {{#if me.isLoggedIn}}

      {{#if isLoading}}
        <div id='loading'>
          <div id='loading_container'>
            <div id='loading_progress'>
              <span>loading...</span>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if (if-equals currentScene 'gameOver') }}
        <div class="gameOver">
          {{#if newHighscore }}
            You beat your own highscore! <br /><br />
          {{else}}
            Your score: <br /><br />
          {{/if}}
          {{new_score}} <br /><br />
          distance: {{distance}} <br />
          stars: {{stars}} <br />
          x {{level}} ( level )

          {{#if newHighscore }}
            {{#unless hasPostPermission}}
              <div class="fb-button post" {{action 'postScoreToFB'}}>{{unbound (fa-icon "facebook-square")}} post</div>
            {{/unless}}
          {{/if}}

        </div>
      {{/if}}

      {{#if showHud}}
        <div class="hud">
          <div class="score">{{new_score}}</div>

          <div class="list-group resources">
            <div class="list-group-item resource ammo">
              {{unbound fa-icon 'bullseye' fixedWidth=true}} {{me.user.rocket.cannon.currentValue}}<
            </div>
            <div class="list-group-item resource shield">
              {{unbound fa-icon 'shield' fixedWidth=true}} {{me.user.rocket.shield.currentValue}}<
            </div>
            <div class="list-group-item resource engine">
              {{unbound fa-icon 'forward' fixedWidth=true}} {{me.user.rocket.engine.currentValue}}<
            </div>
          </div>
        </div>
      {{/if}}

    {{else}}

      <div class="login-container">
        <img src="assets/images/store_images/large_mobile_banner_272x167.png" />
        <div class="fb-button login" {{action 'login'}}>{{unbound (fa-icon "facebook-square")}} login</div>
      </div>

    {{/if}}

  </div>

</div>

<div class="row control-infos show-for-large-up">
    <div class="small-12 columns control-info-text fire">
        <div><i class="fa fa-arrow-up"></i></div>
        <div>fire</div>
    </div>
    <div class="small-6 columns control-info-text left">
        <i class="fa fa-arrow-left"></i> move left
    </div>
    <div class="small-6 columns control-info-text right">
        move right <i class="fa fa-arrow-right"></i>
    </div>
</div>
