<div class="row">

  <div id="game-canvas-container" style="width: 420px; margin: 0px auto; position: relative;">

    <canvas id='game' class="{{if aChallengeIsActive "active-challenge"}}" width='420' height='600'>
      Your browser doesn't support this game. :(
    </canvas>

    {{#if me.isLoggedIn}}

      {{#if isLoading}}
        {{game-canvas-components/progress-bar}}
      {{/if}}

      {{#if (if-equals currentScene 'stageSelection') }}
        {{game-canvas-components/scenes/stage-selection
            Q=Q
            me=me
            gameState=gameState}}
      {{/if}}

      {{#if (if-equals currentScene 'mainMenu') }}
        {{game-canvas-components/scenes/main-menu
            gameState=gameState
            startStageAction=(action "startStage")
            selectStageAction=(action "selectStage")}}
      {{/if}}

      {{#if (if-equals currentScene 'gameOver') }}
        {{game-canvas-components/scenes/game-over
            newScore=newScore
            tryAgainAction=(action "startStage")
            selectStageAction=(action "selectStage")}}
      {{/if}}

      {{#if showHud}}
        {{game-canvas-components/hud
            me=me
            newScore=newScore
            gameState=gameState}}
      {{/if}}

    {{else}}
      <div class="login-container">
        <img src="assets/images/store_images/large_mobile_banner_272x167.png" />
        {{#if (eq me.loginStatus 'unknown')}}
          <div class="loader">
            <img src="assets/images/preloaders/preloader.gif" />
          </div>
        {{else}}
          <div class="fb-button login" {{action 'login'}}>
            {{fa-icon "facebook-square"}} login
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>

</div>

<div class="control-infos show-for-large-up">
    <div class="flex-container direction-column">
      <div class="flex-item center control-info-button">
        {{#tooltip-component tooltip="shoot"}}
          {{fa-icon "caret-up" size="lg"}}
        {{/tooltip-component}}
      </div>
      <div class="flex-item center flex-container direction-row">
        <div class="control-info-button left">
          {{#tooltip-component tooltip="move left"}}
            {{fa-icon "caret-left" size="lg"}}
          {{/tooltip-component}}
        </div>
        <div class="control-info-button down">
          {{#tooltip-component tooltip="slow down"}}
            {{fa-icon "caret-down" size="lg"}}
          {{/tooltip-component}}
        </div>
        <div class="control-info-button right">
          {{#tooltip-component tooltip="move right"}}
            {{fa-icon "caret-right" size="lg"}}
          {{/tooltip-component}}
        </div>
      </div>
    </div>
</div>
