<div class="row">

  <div id="game-canvas-container" style="width: 420px; margin: 0px auto; position: relative;">

    <canvas id='game' class="{{if aChallengeIsActive "active-challenge"}}" width='420' height='600'>
      Your browser doesn't support this game. :(
    </canvas>

    {{#if me.isLoggedIn}}

      {{#if isLoading}}
        <div id='loading'>
          <div id='loading_container'>
            <div id='loading_progress'>
              <span>loading...</span>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if (if-equals currentScene 'gameOver') }}
        <div class="gameOver">
          {{#if newHighscore }}
            You beat your own highscore! <br /><br />
          {{else}}
            Your score: <br /><br />
          {{/if}}
          {{new_score}} <br /><br />
          distance: {{gameState.flown_distance}} <br />
          stars: {{gameState.stars}} <br />
          x {{gameState.level}} ( level )

          {{#if newHighscore }}
            {{#unless hasPostPermission}}
              <div class="fb-button post" {{action 'postScoreToFB'}}>{{unbound (fa-icon "facebook-square")}} post</div>
            {{/unless}}
          {{/if}}

        </div>
      {{/if}}

      {{#if showHud}}
        <div class="hud">

          <div class="score">{{new_score}}</div>

          <div class="list-group hud-list-group infos">
            <table>
              <tr class="list-group-item info flown-distance">
                <td class="list-group-item-icon">{{unbound (fa-icon 'arrows-h' fixedWidth=true)}}</td>
                <td class="list-group-item-value">{{gameState.flown_distance}}</td>
              </tr>
              <tr class="list-group-item info level">
                <td class="list-group-item-icon">{{unbound (fa-icon 'signal' fixedWidth=true)}}</td>
                <td class="list-group-item-value">{{gameState.level}}</td>
              </tr>
              <tr class="list-group-item info stars">
                <td class="list-group-item-icon">{{unbound (fa-icon 'star' fixedWidth=true)}}</td>
                <td class="list-group-item-value">{{gameState.stars}}</td>
              </tr>
              <tr class="list-group-item info speed">
                <td class="list-group-item-icon">{{unbound (fa-icon 'tachometer' fixedWidth=true)}}</td>
                <td class="list-group-item-value"></td>
              </tr>
              <tr class="list-group-item info distance-to-goals">
                <td class="list-group-item-icon">{{unbound (fa-icon 'flag-checkered' fixedWidth=true)}}</td>
                <td class="list-group-item-value"></td>
              </tr>
            </table>
          </div>

          <div class="list-group hud-list-group resources">
            <table>
              <tr class="list-group-item resource ammo">
                <td class="resource-icon">{{unbound (fa-icon 'bullseye' fixedWidth=true)}}</td>
                <td class="resource-value">{{me.user.rocket.cannon.currentValue}}</td>
              </tr>
              <tr class="list-group-item resource shield">
                <td class="resource-icon">{{unbound (fa-icon 'shield' fixedWidth=true)}}</td>
                <td class="resource-value">{{me.user.rocket.shield.currentValue}}</td>
              </tr>
              <tr class="list-group-item resource engine">
                <td class="resource-icon">{{unbound (fa-icon 'forward' fixedWidth=true)}}</td>
                <td class="resource-value">{{me.user.rocket.engine.currentValue}}</td>
              </tr>
            </table>
          </div>

        </div>
      {{/if}}

    {{else}}

      <div class="login-container">
        <img src="assets/images/store_images/large_mobile_banner_272x167.png" />
        <div class="fb-button login" {{action 'login'}}>{{unbound (fa-icon "facebook-square")}} login</div>
      </div>

    {{/if}}

  </div>

</div>

<div class="row control-infos show-for-large-up">
    <div class="small-12 columns control-info-text fire">
        <div><i class="fa fa-arrow-up"></i></div>
        <div>fire</div>
    </div>
    <div class="small-6 columns control-info-text left">
        <i class="fa fa-arrow-left"></i> move left
    </div>
    <div class="small-6 columns control-info-text right">
        move right <i class="fa fa-arrow-right"></i>
    </div>
</div>
