<div class="row">

  <div id="game-canvas-container" style="width: 420px; margin: 0px auto; position: relative;">

    <canvas id='game' class="{{if aChallengeIsActive "active-challenge"}}" width='420' height='600'>
      Your browser doesn't support this game. :(
    </canvas>

    {{#if me.isLoggedIn}}

      {{#if isLoading}}
        <div id='loading'>
          <div id='loading_container'>
            <div id='loading_progress'>
              <span>loading...</span>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if (if-equals currentScene 'gameOver') }}
        <div class="gameOver">
          {{#if newHighscore }}
            You beat your own highscore! <br /><br />
          {{else}}
            Your score: <br /><br />
          {{/if}}
          {{new_score}} <br /><br />
          distance: {{gameState.flown_distance}} <br />
          stars: {{gameState.stars}} <br />
          x {{gameState.level}} ( level )

          {{#if newHighscore }}
            {{#unless hasPostPermission}}
              <div class="fb-button post" {{action 'postScoreToFB'}}>{{fa-icon "facebook-square"}} post</div>
            {{/unless}}
          {{/if}}

        </div>
      {{/if}}

      {{#if showHud}}
        <div class="hud">

          <div class="score">{{new_score}}</div>

          <div class="list-group hud-list-group infos">
            <table>
              <tr class="list-group-item info flown-distance">
                <td class="list-group-item-icon">{{fa-icon 'arrows-h' fixedWidth=true}}</td>
                <td class="list-group-item-value">{{gameState.flown_distance}}</td>
              </tr>
              <tr class="list-group-item info level">
                <td class="list-group-item-icon">{{fa-icon 'signal' fixedWidth=true}}</td>
                <td class="list-group-item-value">{{gameState.level}}</td>
              </tr>
              <tr class="list-group-item info stars">
                <td class="list-group-item-icon">{{fa-icon 'star' fixedWidth=true}}</td>
                <td class="list-group-item-value">{{gameState.stars}}</td>
              </tr>
              <tr class="list-group-item info speed">
                <td class="list-group-item-icon">{{fa-icon 'tachometer' fixedWidth=true}}</td>
                <td class="list-group-item-value">{{gameState.speed_percentage}} %</td>
              </tr>
              <tr class="list-group-item info distance-to-goals">
                <td class="list-group-item-icon">{{fa-icon 'flag-checkered' fixedWidth=true}}</td>
                <td class="list-group-item-value">{{gameState.distance_to_goal}}</td>
              </tr>
            </table>
          </div>

          <div class="list-group hud-list-group resources">
            <table>
              <tr class="list-group-item resource ammo">
                <td class="resource-icon">{{fa-icon 'bullseye' fixedWidth=true}}</td>
                <td class="resource-value">{{me.user.rocket.cannon.currentValue}}</td>
              </tr>
              <tr class="list-group-item resource shield">
                <td class="resource-icon">{{fa-icon 'shield' fixedWidth=true}}</td>
                <td class="resource-value">{{me.user.rocket.shield.currentValue}}</td>
              </tr>
              <tr class="list-group-item resource engine">
                <td class="resource-icon">{{fa-icon 'forward' fixedWidth=true}}</td>
                <td class="resource-value">{{me.user.rocket.engine.currentValue}}</td>
              </tr>
            </table>
          </div>

        </div>
      {{/if}}

    {{else}}
      <div class="login-container">
        <img src="assets/images/store_images/large_mobile_banner_272x167.png" />
        {{#if (eq me.loginStatus 'unknown')}}
          <div class="loader">
            <img src="assets/images/preloaders/preloader.gif" />
          </div>
        {{else}}
          <div class="fb-button login" {{action 'login'}}>
            {{fa-icon "facebook-square"}} login
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>

</div>

<div class="control-infos show-for-large-up">
    <div class="flex-container direction-column">
      <div class="flex-item center control-info-button">
        {{#tooltip-component tooltip="shoot"}}
          {{fa-icon "caret-up" size="lg"}}
        {{/tooltip-component}}
      </div>
      <div class="flex-item center flex-container direction-row">
        <div class="control-info-button left">
          {{#tooltip-component tooltip="move left"}}
            {{fa-icon "caret-left" size="lg"}}
          {{/tooltip-component}}
        </div>
        <div class="control-info-button down">
          {{#tooltip-component tooltip="slow down"}}
            {{fa-icon "caret-down" size="lg"}}
          {{/tooltip-component}}
        </div>
        <div class="control-info-button right">
          {{#tooltip-component tooltip="move right"}}
            {{fa-icon "caret-right" size="lg"}}
          {{/tooltip-component}}
        </div>
      </div>
    </div>
</div>
