<div class="title">{{unbound fa-icon "fa-trophy"}} Leaderboard</div>

{{#if me.isLoggedIn}}
  <!-- invite -->
   <div id="fb-challenge-container"> <button id="fb-challenge" class="fb-button
   confirm"> {{unbound fa-icon "facebook-square"}} Invite your friends </button>
   </div> <div class="leaderboard_list scrollable_list"> {{#each top_players as |top_player|}} <div>{{top_player.first_name}}
   {{top_player.last_name}}</div> {{/each}} </div> {{else}} <div
   class="login-info"> <div>{{unbound fa-icon "fa-lock"}}</div> <div>Please log
   in.</div> </div> {{/if}}
