<div class="title">{{unbound fa-icon "fa-trophy"}} Leaderboard</div>

{{#if me.isLoggedIn}}
  <!-- invite -->
   <div id="fb-challenge-container">
     <button id="fb-challenge" class="fb-button confirm"> {{unbound fa-icon "facebook-square"}} Invite your friends </button>
   </div>
   <div class="leaderboard_list scrollable_list">
     {{#each top_players as |top_player|}}
        <div class="list-item">
          <div class="rank_container">
            <span class="rank">{{top_player.rank}}</span>
          </div>
          <div class="img_container">
            <img src={{top_player.img_url}} class="profile small" />
          </div>
          <div class="name">{{top_player.first_name}} {{top_player.last_name}}</div>
          <div class="score_container">
            <span class="score">{{top_player.score}}</span> Points
          </div>
        </div>
     {{/each}}
   </div>
{{else}}
  <div class="login-info">
    <div>{{unbound fa-icon "fa-lock"}}</div>
    <div>Please log in.</div>
  </div>
{{/if}}
