<div class="progress-bar-container">
  <div class="exp-meter">
    <div id="{{elementId}}-progress" class="exp-meter-progress {{if achievement.in_progress 'in_progress'}}"></div>
    <div class="exp-meter-text text">{{achievement.reached_progress_points.content}} / {{achievement.needed_progress_points}}</div>
  </div>
  <div class="points {{if achievement.in_progress 'in_progress'}}">{{achievement.achievement_points}}</div>
</div>
