{{#overlay-component}}
  <div class="confirm-dialog flex direction-column center-xy">
  {{#unless model.user.energy.isFull}}
    {{#if (gte model.user.stars 100)}}
      <div class="button" {{action 'buy'}}>Buy 1 {{fa-icon 'bolt'}} for 100 {{fa-icon 'star'}}</div>
    {{else}}
      <div class="text-box">You don't have enough stars to buy a recharge but you can ask your friends for energy!</div>
    {{/if}}
    {{#if (gte model.user.stars 100)}}
      <div>OR</div>
    {{/if}}
    <div class="button-container">
      <div class="fb-button invite" {{action 'ask' model.user.armada}}>
        {{fa-icon "facebook-square" size="lg"}} Ask friends for energy
      </div>
    </div>
  {{else}}
    Your energy is already completely charged.
  {{/unless}}
  </div>
{{/overlay-component}}
