<div class="stage-selection-content">
  <div class="title">select a stage</div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=1}}
  <div class="connector connector-1"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=2}}
  <div class="connector connector-2"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=3}}
  <div class="connector connector-3"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=4}}
  <div class="connector connector-4"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=5}}
  <div class="connector connector-5"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=6}}
  <div class="connector connector-6"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=7}}
  <div class="connector connector-7"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=8}}
  <div class="connector connector-8"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=9}}
  <div class="connector connector-9"></div>
  {{game-canvas-components/scenes/stage-selection/game-stage Q=Q stage=10 is_end_boss_stage=true}}
  {{!-- <img class="stage-selection-clouds" src="assets/images/stage_selection_clouds.png" /> --}}
  {{!-- <div class="game-mode-selection button-group flex center-xy">
    <div class="info">
      {{#tooltip-component tooltip="Go on a journey through space.<br/>Fly from stage to stage."}}
        {{fa-icon 'fa-question-circle'}}
      {{/tooltip-component}}
    </div>
    <div class="button first {{if (eq gameState.mode 'adventure') 'active'}}" {{action "setGameMode" "adventure"}}>Adventure</div>
    <div class="button last {{if (eq gameState.mode 'arcade') 'active'}}" {{action "setGameMode" "arcade"}}>Arcade</div>
    <div class="info">
      {{#tooltip-component tooltip="Play one stage endlessly, <br />getting faster and faster. <br /> Fly as far as you can."}}
        {{fa-icon 'fa-question-circle'}}
      {{/tooltip-component}}
    </div>
  </div> --}}
  {{game-menu buttons=buttons}}
</div>
