<div class="title">select a stage</div>
<img class="stage-selection-bg" src="assets/images/level_selection.png" />
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=1}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=2}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=3}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=4}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=5}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=6}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=7}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=8}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=9}}
<img class="stage-selection-clouds" src="assets/images/stage_selection_clouds.png" />
<div class="game-mode-selection button-group flex-container center-xy">
  <div class="button {{if (eq gameState.mode 'adventure') 'active'}}" {{action "setGameMode" "adventure"}}>Adventure</div>
  <div class="button {{if (eq gameState.mode 'arcade') 'active'}}" {{action "setGameMode" "arcade"}}>Arcade</div>
</div>
