<div class="title">select a stage</div>
{{!-- <div class="stage-selection-bg"> --}}
  <img class="stage-selection-bg" src="assets/images/level_selection.png" />
{{!-- </div> --}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=1}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=2}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=3}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=4}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=5}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=6}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=7}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=8}}
{{game-canvas-components/scenes/stage-selection/game-stage Q=Q gameState=gameState me=me stage=9}}
<img class="stage-selection-clouds" src="assets/images/stage_selection_clouds.png" />
