<div class="info">
  {{#tooltip-component tooltip=myComponentModelMm.rocketComponentModel.description}}
    {{fa-icon "info-circle"}}
  {{/tooltip-component}}
</div>

<div class="model-upgrades capacity-upgrades {{if modelIsUnlocked 'unlocked'}}">
  {{!-- Capacity: --}}
  {{#tooltip-component tooltip="capacity"}}
    {{fa-icon "fa-cubes"}}
  {{/tooltip-component}}
  <span>{{myComponentModelMm.capacity}}</span>
  <button {{action "upgrade_capacity"}}>{{fa-icon "star"}} {{myComponentModelMm.capacity_upgrade_costs}}</button>
</div>

<div class="model-upgrades recharge-rate-upgrades {{if modelIsUnlocked 'unlocked'}}">
  {{!-- Recharge Rate: --}}
  {{#tooltip-component tooltip="recharge rate"}}
    {{fa-icon "fa-undo"}}
  {{/tooltip-component}}
  {{myComponentModelMm.recharge_rate_percentage}} %
  {{#unless (if-equals myComponentModelMm.recharge_rate_percentage 100) }}
    <button {{action "upgrade_recharge_rate"}}>{{fa-icon "star"}} {{myComponentModelMm.recharge_rate_upgrade_costs}}</button>
  {{/unless}}
</div>
