<span class="model-upgrades capacity-upgrades {{if modelIsUnlocked 'unlocked'}}">
  Capacity:
  {{#each myComponentModelCapacityLevelMms as |aComponentModelCapacityLevelMm|}}
    <div class="level-upgrade {{if aComponentModelCapacityLevelMm.isSelected 'active'}}">
      {{aComponentModelCapacityLevelMm.rocketComponentModelLevel.value}}
    </div>
  {{/each}}
</span>

<span class="model-upgrades recharge-rate-upgrades {{if modelIsUnlocked 'unlocked'}}">
  Recharge Rate:
  {{#each myComponentModelRechargeRateLevelMms as |aComponentModelRechargeRateLevelMm|}}
    <div class="level-upgrade {{if aComponentModelRechargeRateLevelMm.isSelected 'active'}}">
      {{aComponentModelRechargeRateLevelMm.rocketComponentModelLevel.value}}
    </div>
  {{/each}}
</span>
