<span class="model-upgrades capacity-upgrades {{if modelIsUnlocked 'unlocked'}}">
  {{!-- Capacity: --}}
  {{#tooltip-component tooltip="capacity"}}
    {{fa-icon "fa-cubes"}}
  {{/tooltip-component}}
  {{#each myComponentModelMm.rocketComponentModelCapacityLevelMms.content as |aComponentModelCapacityLevelMm|}}
    {{#if modelIsUnlocked}}
      {{#if (if-equals aComponentModelCapacityLevelMm.status 'locked')}}
        {{#if (if-equals aComponentModelCapacityLevelMm.previousLevelMm.status 'unlocked')}}
          {{#tooltip-component tooltip=aComponentModelCapacityLevelMm.tooltip}}
            <div class="level-upgrade locked fa-stack"  {{action 'buyComponentLevel' aComponentModelCapacityLevelMm}}>
              {{fa-icon "fa-lock" stack=2 classNames="locked"}}
              <span class="value fa-stack-1x">{{aComponentModelCapacityLevelMm.rocketComponentModelLevel.value}}</span>
            </div>
          {{/tooltip-component}}
        {{else}}
          {{#tooltip-component tooltip="Unlock the previous level first!"}}
            <div class="level-upgrade blocked">
              {{aComponentModelCapacityLevelMm.rocketComponentModelLevel.value}}
            </div>
          {{/tooltip-component}}
        {{/if}}
      {{else}}
        <div class="level-upgrade {{myComponentModelMm.rocketComponentModel.rareness}} {{if aComponentModelCapacityLevelMm.isSelected 'active'}}">
          {{aComponentModelCapacityLevelMm.rocketComponentModelLevel.value}}
        </div>
      {{/if}}
    {{else}}
      {{#tooltip-component tooltip="You need to unlock this model first!"}}
        <div class="level-upgrade">
          {{aComponentModelCapacityLevelMm.rocketComponentModelLevel.value}}
        </div>
      {{/tooltip-component}}
    {{/if}}
  {{/each}}
</span>

<span class="model-upgrades recharge-rate-upgrades {{if modelIsUnlocked 'unlocked'}}">
  {{!-- Recharge Rate: --}}
  {{#tooltip-component tooltip="recharge rate"}}
    {{fa-icon "fa-undo"}}
  {{/tooltip-component}}
  {{#each myComponentModelMm.rocketComponentModelRechargeRateLevelMms.content as |aComponentModelRechargeRateLevelMm|}}
    {{#if modelIsUnlocked}}
      {{#if (if-equals aComponentModelRechargeRateLevelMm.status 'locked')}}
        {{#if (if-equals aComponentModelRechargeRateLevelMm.previousLevelMm.status 'unlocked')}}
          {{#tooltip-component tooltip=aComponentModelRechargeRateLevelMm.tooltip}}
            <div class="level-upgrade locked fa-stack"  {{action 'buyComponentLevel' aComponentModelRechargeRateLevelMm}}>
              {{fa-icon "fa-lock" stack=2 classNames="locked"}}
              <span class="value fa-stack-1x">{{aComponentModelRechargeRateLevelMm.rocketComponentModelLevel.value}}</span>
            </div>
          {{/tooltip-component}}
        {{else}}
          {{#tooltip-component tooltip="Unlock the previous level first!"}}
            <div class="level-upgrade blocked">
              {{aComponentModelRechargeRateLevelMm.rocketComponentModelLevel.value}}
            </div>
          {{/tooltip-component}}
        {{/if}}
      {{else}}
        <div class="level-upgrade {{myComponentModelMm.rocketComponentModel.rareness}} {{if aComponentModelRechargeRateLevelMm.isSelected 'active'}}">
          {{aComponentModelRechargeRateLevelMm.rocketComponentModelLevel.value}}
        </div>
      {{/if}}
    {{else}}
      {{#tooltip-component tooltip="You need to unlock this model first!"}}
        <div class="level-upgrade">
          {{aComponentModelRechargeRateLevelMm.rocketComponentModelLevel.value}}
        </div>
      {{/tooltip-component}}
    {{/if}}
  {{/each}}
</span>
