<div class="button back" {{action 'close'}}>{{fa-icon 'chevron-left'}} Back</div>
{{#if armadas}}
  {{#each armadas.content as |armada index|}}
    <div class="list-item flex-container center-y">
      <div class="name">{{armada.name}}</div>
      <div class="members">{{armada.users.length}} / 20</div>
      {{#if armada.fbAppRequest}}
        {{#tooltip-component tooltip='you are invited'}}
          <div class="button" {{action 'join' armada.fbAppRequest}}>{{fa-icon 'check'}}</div>
        {{/tooltip-component}}
      {{else}}
        {{#if (gt armada.armadaMembershipRequests.length 0)}}
          {{#tooltip-component tooltip='membership has already been requested'}}
            <div class="button disabled">{{fa-icon 'envelope'}}</div>
          {{/tooltip-component}}
        {{else}}
          {{#tooltip-component tooltip='apply for membership' direction='left'}}
            <div class="button" {{action 'sendRequest' armada}}>{{fa-icon 'envelope'}}</div>
          {{/tooltip-component}}
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    <div class="empty-info-text">
      Sorry, there are no Armadas you can join at the moment.<br />
      Why don't you create a new one?
      <div class="row">
        <div class="button big" {{action 'showCreateDialog'}}>
          {{fa-icon "plus"}} Create a new Armada
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="loader">
    {{fa-icon "spinner" spin=true}}
  </div>
{{/if}}
