<div class="achievements">

  <h2 class="flex">
    <div>Achievements</div>
    <div class="flex__right h_info">{{achievementPoints.content}} / {{achievementPointsTotal.content}}</div>
  </h2>

  {{#scrollable-list}}
    <h3>Flights</h3>
    {{#each flight_achievements.content as |achievement|}}
      {{lib/lr-progress reached=achievement.reached_progress_points.content total=achievement.needed_progress_points withAchievementPoints=true achievementPoints=achievement.achievement_points}}
    {{/each}}
    <h3>Stars (all time)</h3>
    {{#each stars_all_time_achievements.content as |achievement|}}
      {{lib/lr-progress reached=achievement.reached_progress_points.content total=achievement.needed_progress_points withAchievementPoints=true achievementPoints=achievement.achievement_points}}
    {{/each}}
    <h3>Friends</h3>
    {{#each friends_achievements.content as |achievement|}}
      {{lib/lr-progress reached=achievement.reached_progress_points.content total=achievement.needed_progress_points withAchievementPoints=true achievementPoints=achievement.achievement_points}}
    {{/each}}
  {{/scrollable-list}}

</div>
