<div class="achievements">

  <h2 class="flex">
    <div>Achievements</div>
    <div class="flex__right h_info">{{achievementPoints.content}} / {{achievementPointsTotal.content}}</div>
  </h2>

  <div class="scrollable_list">
    <h3>flights</h3>
    {{#each flight_achievements.content as |achievement|}}
      {{progress-bar achievement=achievement}}
    {{/each}}
    <h3>stars (all time)</h3>
    {{#each stars_all_time_achievements.content as |achievement|}}
      {{progress-bar achievement=achievement}}
    {{/each}}
    <h3>friends</h3>
    {{#each friends_achievements.content as |achievement|}}
      {{progress-bar achievement=achievement}}
    {{/each}}
  </div>

</div>
