{{player-infos me=me}}

<div id="workbench">
  <h2>Workbench</h2>
  <div id="workbench-item-container" class="item-container">
    <img src="assets/images/rocket_workbench.png" />

    {{!-- CANON --}}
    {{#if (if-equals me.user.rocket.canon.status 'unlocked') }}
      {{#link-to 'index' (query-params player_hud_section="lab" lab_section="canon")}}
        <span id="canon" class="block-button {{me.user.rocket.canon.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
          {{unbound (fa-icon "fa-bullseye")}}
          <div class="info">
            {{me.user.rocket.canon.selectedRocketComponentModelMm.rocketComponentModel.model}}
          </div>
        </span>
      {{/link-to}}
    {{else}}
      {{#if (if-equals me.user.rocket.canon.status 'under_construction') }}
        <span id="canon" class="fa-stack block-button {{me.user.rocket.canon.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
          {{unbound (fa-icon "fa-bullseye" stack=1)}}
          {{timer-component type='canon' component=me.user.rocket.canon}}
        </span>
      {{else}}
        {{#if me.user.rocket.canon}}
          <span id="canon" class="fa-stack block-button {{me.user.rocket.canon.selectedRocketComponentModelMm.rocketComponentModel.rareness}}" {{action 'buyCanon'}}>
            {{unbound (fa-icon "fa-bullseye" stack=1)}}
            {{#tooltip-component tooltip=me.user.rocket.canon.tooltip}}
              {{unbound (fa-icon "fa-lock locked" stack=1)}}
            {{/tooltip-component}}
          </span>
        {{else}}
          <span id="canon" class="fa-stack block-button {{me.user.rocket.canon.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
            {{unbound (fa-icon "fa-circle-o-notch" spin=true)}}
          </span>
        {{/if}}
      {{/if}}
    {{/if}}

    {{!-- SHIELD --}}
    {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
      {{#link-to 'index' (query-params player_hud_section="lab" lab_section="shield")}}
        <span id="shield" class="block-button {{me.user.rocket.shield.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
          {{unbound (fa-icon "fa-shield")}}
          <div class="info">
            {{me.user.rocket.shield.selectedRocketComponentModelMm.rocketComponentModel.model}}
          </div>
        </span>
      {{/link-to}}
    {{else}}
      {{#if (if-equals me.user.rocket.shield.status 'under_construction') }}
        <span id="shield" class="fa-stack block-button {{me.user.rocket.shield.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
          {{unbound (fa-icon "fa-shield" stack=1)}}
          {{timer-component type='shield' component=me.user.rocket.shield}}
        </span>
      {{else}}
        {{#if me.user.rocket.shield}}
          <span id="shield" class="fa-stack block-button {{me.user.rocket.shield.selectedRocketComponentModelMm.rocketComponentModel.rareness}}" {{action 'buyShield'}}>
            {{unbound (fa-icon "fa-shield" stack=1)}}
            {{#tooltip-component tooltip=me.user.rocket.shield.tooltip}}
              {{unbound (fa-icon "fa-lock locked" stack=1)}}
            {{/tooltip-component}}
          </span>
        {{else}}
          <span id="shield" class="fa-stack block-button {{me.user.rocket.shield.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
            {{unbound (fa-icon "fa-circle-o-notch" spin=true)}}
          </span>
        {{/if}}
      {{/if}}
    {{/if}}

    {{!-- ENGINE --}}
    {{#if (if-equals me.user.rocket.engine.status 'unlocked') }}
      {{#link-to 'index' (query-params player_hud_section="lab" lab_section="engine")}}
        <span id="engine" class="block-button {{me.user.rocket.engine.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
          {{unbound (fa-icon "fa-forward")}}
          <div class="info">
            {{me.user.rocket.engine.selectedRocketComponentModelMm.rocketComponentModel.model}}
          </div>
        </span>
      {{/link-to}}
    {{else}}
      {{#if (if-equals me.user.rocket.engine.status 'under_construction') }}
        <span id="engine" class="fa-stack block-button {{me.user.rocket.engine.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
          {{unbound (fa-icon "fa-forward" stack=1)}}
          {{timer-component type='engine' component=me.user.rocket.engine}}
        </span>
      {{else}}
        {{#if me.user.rocket.engine}}
          <span id="engine" class="fa-stack block-button {{me.user.rocket.engine.selectedRocketComponentModelMm.rocketComponentModel.rareness}}" {{action 'buyEngine'}}>
            {{unbound (fa-icon "fa-forward" stack=1)}}
            {{#tooltip-component tooltip=me.user.rocket.engine.tooltip}}
              {{unbound (fa-icon "fa-lock locked" stack=1)}}
            {{/tooltip-component}}
          </span>
        {{else}}
          <span id="engine" class="fa-stack block-button {{me.user.rocket.engine.selectedRocketComponentModelMm.rocketComponentModel.rareness}}">
            {{unbound (fa-icon "fa-circle-o-notch" spin=true)}}
          </span>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if show_not_enough_stars_alert}}
  {{#prompt-component}}
		Not enough stars!
	{{/prompt-component}}
{{/if}}
