<h2>{{componentType}}</h2>
<div class="upgrade-content">
  {{#if (if-equals component.status 'unlocked') }}
    {{#each myComponentModelMms.content as |myComponentModelMm|}}
      <div class="list-item">
        {{#if (if-equals myComponentModelMm.status 'unlocked') }}
          {{#if myComponentModelMm.isSelected}}
            <div class="block-button list-item-column active">
              {{unbound (fa-icon icon)}}
              <div class="info">
                {{myComponentModelMm.rocketComponentModel.model}}
              </div>
            </div>
          {{else}}
            <div class="block-button list-item-column" {{action 'selectComponentModelMm' myComponentModelMm}}>
              {{unbound (fa-icon icon)}}
              <div class="info">
                {{myComponentModelMm.rocketComponentModel.model}}
              </div>
            </div>
          {{/if}}
        {{else}}
          {{#if (if-equals myComponentModelMm.status 'locked') }}
            <div class="block-button list-item-column" {{action 'buyComponentModelMm' myComponentModelMm}}>
              <span class="fa-stack">
                {{unbound (fa-icon icon stack=1)}}
                {{#tooltip-component tooltip=myComponentModelMm.rocketComponentModel.tooltip}}
                  {{unbound (fa-icon "fa-lock locked" stack=1)}}
                {{/tooltip-component}}
              </span>
              <div class="info">
                {{myComponentModelMm.rocketComponentModel.model}}
              </div>
            </div>
          {{else}}
            <div class="block-button list-item-column">
              {{unbound (fa-icon icon)}}
              <div class="info">
                {{myComponentModelMm.rocketComponentModel.model}}
              </div>
              {{timer-component
                type='componentModel'
                construction_start=myComponentModelMm.construction_start
                construction_time=myComponentModelMm.rocketComponentModel.construction_time
                component=myComponentModelMm}}
            </div>
          {{/if}}
        {{/if}}
        <div class="list-item-column">
          Upgrade infos
        </div>
        <div class="list-item-column button-column">
          {{#if (if-equals myComponentModelMm.status 'locked') }}
            <div class="button" {{action 'buyComponentModelMm' myComponentModelMm}}>
              {{unbound (fa-icon "fa-star")}} {{myComponentModelMm.rocketComponentModel.costs}}
            </div>
          {{else}}
            {{#if (if-equals myComponentModelMm.status 'unlocked') }}
              {{#if myComponentModelMm.isSelected}}
                <div class="button selected">
                  active
                </div>
              {{else}}
                <div class="button" {{action 'selectComponentModelMm' myComponentModelMm}}>
                  select
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="locked-info rocket-component">
      <div>{{unbound (fa-icon icon)}}</div>
      <div>{{unbound (fa-icon "fa-lock")}} Locked</div>
      <div class="button" {{action 'buyComponent' component}}>
        Buy for {{unbound (fa-icon "fa-star")}} {{component.costs}}
      </div>
    </div>
  {{/if}}
</div>
