<div id="lab">
  <h2>Lab</h2>
  {{#if (if-equals me.user.lab.status 'unlocked') }}
    <div class="tab-container">
      <div id="cannon-upgrades" class="tab">
        {{#if (if-equals me.user.rocket.cannon.status 'unlocked') }}
          {{#link-to 'index' (query-params lab_section="cannon")}}
            {{fa-icon "fa-bullseye"}}
          {{/link-to}}
        {{else}}
          {{#if (if-equals me.user.rocket.cannon.status 'under_construction') }}
            {{fa-icon "fa-bullseye"}}
            {{timer-component type='cannon' component=me.user.rocket.cannon}}
          {{else}}
            {{#link-to 'index' (query-params lab_section="cannon")}}
              <span class="fa-stack">
                {{fa-icon "fa-bullseye" stack=1}}
                {{#tooltip-component tooltip=me.user.rocket.cannon.tooltip}}
                  {{fa-icon "fa-lock locked" stack=1}}
                {{/tooltip-component}}
              </span>
            {{/link-to}}
          {{/if}}
        {{/if}}
      </div>
      <div id="shield-upgrades" class="tab">
        {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
          {{#link-to 'index' (query-params lab_section="shield")}}
            {{fa-icon "fa-shield"}}
          {{/link-to}}
        {{else}}
          {{#if (if-equals me.user.rocket.shield.status 'under_construction') }}
            {{fa-icon "fa-shield"}}
            {{timer-component type='shield' component=me.user.rocket.shield}}
          {{else}}
            {{#link-to 'index' (query-params lab_section="shield")}}
              <span class="fa-stack">
                {{fa-icon "fa-shield" stack=1}}
                {{#tooltip-component tooltip=me.user.rocket.shield.tooltip}}
                  {{fa-icon "fa-lock locked" stack=1}}
                {{/tooltip-component}}
              </span>
            {{/link-to}}
          {{/if}}
        {{/if}}
      </div>
      <div id="drive-upgrades" class="tab">
        {{#if (if-equals me.user.rocket.engine.status 'unlocked') }}
          {{#link-to 'index' (query-params lab_section="engine")}}
            {{fa-icon "fa-forward"}}
          {{/link-to}}
        {{else}}
          {{#if (if-equals me.user.rocket.engine.status 'under_construction') }}
            {{fa-icon "fa-forward"}}
            {{timer-component type='engine' component=me.user.rocket.engine}}
          {{else}}
            {{#link-to 'index' (query-params lab_section="engine")}}
              <span class="fa-stack">
                {{fa-icon "fa-forward" stack=1}}
                {{#tooltip-component tooltip=me.user.rocket.engine.tooltip}}
                  {{fa-icon "fa-lock locked" stack=1}}
                {{/tooltip-component}}
              </span>
            {{/link-to}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="upgrade-infos">
      {{#if (if-equals currentLabSection 'cannon') }}
        {{player-hud-components/component-upgrades
          me=me
          componentType=currentLabSection
          component=me.user.rocket.cannon}}
      {{/if}}
      {{#if (if-equals currentLabSection 'shield') }}
        {{player-hud-components/component-upgrades
          me=me
          componentType=currentLabSection
          component=me.user.rocket.shield}}
      {{/if}}
      {{#if (if-equals currentLabSection 'engine') }}
        {{player-hud-components/component-upgrades
          me=me
          componentType=currentLabSection
          component=me.user.rocket.engine}}
      {{/if}}
    </div>
  {{else}}
    <div class="locked-info lab">
      <div>{{fa-icon "fa-flask"}}</div>
      {{#if (if-equals me.user.lab.status 'locked') }}
        <div>{{fa-icon "fa-lock"}} Locked</div>
        <div class="button" {{action 'buyLab'}}>
          Buy for {{fa-icon "fa-star"}} {{me.user.lab.costs}}
        </div>
      {{else}}
        <div>{{fa-icon "fa-wrench"}} Under Construction</div>
      {{/if}}
    </div>
  {{/if}}
</div>
