<div class="player-infos">
  <div class="level-info-container">
    <div class="img_container">
      <img src={{me.user.img_url}} />
    </div>
    <div class="exp_level">
      Exp. level {{me.user.exp_level}}
    </div>
    <div class="exp-meter">
      <div class="exp-meter-progress"></div>
      <div class="exp-meter-text">
        {{me.user.experience}} / {{me.user.needed_exp_for_next_level}}
      </div>
    </div>
  </div>
  <div class="left-column">
    <div class="info-table-container">
      <table class="info-table">
        <tr>
          <td>
            <div class="score_container">
              <span class="cockpit_score score"><b>Score</b> {{me.user.score}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-star"></i> <span class="stars">{{me.user.stars}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="rank_container">
                <span class="cockpit_rank rank">{{me.user.rank}}</span>. in the leaderboard
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="right-column">
    <table class="stats-table">
      <tr>
        <td>
          <b>Ammo:</b>
        </td>
        <td>
          {{#if (if-equals me.user.rocket.cannon.status 'unlocked') }}
            {{me.user.rocket.cannon.selectedRocketComponentModelMm.capacity}}
          {{else}}
            0
          {{/if}}
        </td>
        <td>
          {{#tooltip-component tooltip="BPS = <u>B</u>ullets <u>P</u>er <u>S</u>econd<br /> A higher BPS means, that your cannon reloads faster."}}
            BPS:
          {{/tooltip-component}}
        </td>
        <td>
          {{#if (if-equals me.user.rocket.cannon.status 'unlocked') }}
            {{me.user.rocket.cannon.selectedRocketComponentModelMm.recharge_rate_percentage}} %
          {{else}}
            0 %
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Shield:</b>
        </td>
        <td>
          {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
            {{me.user.rocket.shield.selectedRocketComponentModelMm.capacity}}
          {{else}}
            0
          {{/if}}
        </td>
        <td>
          {{#tooltip-component tooltip="SRR = <u>S</u>hield <u>R</u>echarge <u>R</u>ate<br /> A higher SRR means, that your shield reloads faster."}}
            SRR:
          {{/tooltip-component}}
        </td>
        <td>
          {{#if (if-equals me.user.rocket.shield.status 'unlocked') }}
            {{me.user.rocket.shield.selectedRocketComponentModelMm.recharge_rate_percentage}} %
          {{else}}
            0 %
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          {{#tooltip-component tooltip="SDs = <u>S</u>low<u>d</u>owns<br /> A Slowdown reduces the speed your rocket is flying with."}}
            <b>SDs:</b>
          {{/tooltip-component}}
        </td>
        <td>
          {{#if (if-equals me.user.rocket.engine.status 'unlocked') }}
            {{me.user.rocket.engine.selectedRocketComponentModelMm.capacity}}
          {{else}}
            0
          {{/if}}
        </td>
        <td>
          {{#tooltip-component tooltip="SDRR = <u>S</u>low<u>d</u>own <u>R</u>echarge <u>R</u>ate<br /> A higher SDRR means, that your slowdown reloads faster."}}
            SDRR:
          {{/tooltip-component}}
        </td>
        <td>
          {{#if (if-equals me.user.rocket.engine.status 'unlocked') }}
            {{me.user.rocket.engine.selectedRocketComponentModelMm.recharge_rate_percentage}} %
          {{else}}
            0 %
          {{/if}}
        </td>
      </tr>
    </table>
  </div>
</div>
