<h2>Armada</h2>

{{#if me.user.armada}}
  {{social-components/armada-components/main me=me armadaSection=armadaSection}}
{{else}}
  {{#if me.user}}
    {{#if showJoinableArmadas}}
      {{social-components/armada-components/joinable-armadas me=me}}
    {{else}}
      <div class="empty-info-text">
        You're not in any Armada at the moment.
        <div class="button big first" {{action 'showJoinableArmadas'}}>
          {{fa-icon "search"}} Search for an Armada
        </div>
        <div class="button big" {{action 'openCreateDialog'}}>
          {{fa-icon "plus"}} Create a new Armada
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="loader">
      {{fa-icon "spinner" spin=true}}
    </div>
  {{/if}}
{{/if}}
