<h2>
  Challenges
  {{#link-to 'index' (query-params challenges_section="new")}}
    <div class={{if (eq currentSection 'new') "active button" "button" }}>{{unbound (fa-icon 'fa-plus')}}</div>
  {{/link-to}}
  {{#link-to 'index' (query-params challenges_section="lost")}}
    <div class={{if (eq currentSection 'lost') "active button" "button" }}>{{unbound (fa-icon 'fa-close')}}</div>
  {{/link-to}}
  {{#link-to 'index' (query-params challenges_section="won")}}
    <div class={{if (eq currentSection 'won') "active button" "button" }}>{{unbound (fa-icon 'fa-check')}}</div>
  {{/link-to}}
  {{#link-to 'index' (query-params challenges_section="waiting")}}
    <div class={{if (eq currentSection 'waiting') "active button" "button" }}>{{unbound (fa-icon 'fa-clock-o')}}</div>
  {{/link-to}}
  {{#link-to 'index' (query-params challenges_section="unplayed")}}
    <div class={{if (eq currentSection 'unplayed') "active button" "button" }} >{{unbound (fa-icon 'fa-rocket')}}</div>
  {{/link-to}}
</h2>
<div class="scrollable-list challenges">
  {{#if (eq currentSection 'unplayed')}}
    {{#if (gt unplayedChallenges.content.length 0)}}
      {{#each unplayedChallenges.content as |challenge|}}
        <div class="list-item challenge">
          <div class="challenge-player">
            <div class="img_container">
              <img src="{{challenge.from_player.img_url}}" class="profile small" />
            </div>
            <div class="challenge-player-infos">
              <div class="player-name">{{challenge.from_player.name}}</div>
              <div class="player-score">{{challenge.from_player_score}} Points</div>
            </div>
          </div>
          <div class="challenge-player">
            <div class="img_container">
              <img src="{{challenge.to_player.img_url}}" class="profile small" />
            </div>
            <div class="challenge-player-infos">
              <div class="player-name">{{challenge.to_player.name}}</div>
              <div class="player-score">{{challenge.to_player_score}} Points</div>
            </div>
          </div>
          <div class="button-container">
            <div class="button {{if challenge.isActive "active"}}" {{action challenge.action challenge}}>
              {{unbound (fa-icon 'fa-rocket')}}<span class="button-text">{{if challenge.isActive " stop" " play"}}</span>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="empty-info-text">
        You have no open challenges.<br /><br />
        {{#link-to 'index' (query-params challenges_section="new")}}
          <div class="button">{{unbound (fa-icon 'fa-plus')}} Create challenge</div>
        {{/link-to}}
      </div>
    {{/if}}
  {{else}}
    {{#if (eq currentSection 'waiting')}}
      {{#each waitingChallenges.content as |challenge|}}
        <div class="list-item challenge">
          <div class="challenge-player">
            <div class="img_container">
              <img src="{{challenge.from_player.img_url}}" class="profile small" />
            </div>
            <div class="challenge-player-infos">
              <div class="player-name">{{challenge.from_player.name}}</div>
              <div class="player-score">{{challenge.from_player_score}} Points</div>
            </div>
          </div>
          <div class="challenge-player">
            <div class="img_container">
              <img src="{{challenge.to_player.img_url}}" class="profile small" />
            </div>
            <div class="challenge-player-infos">
              <div class="player-name">{{challenge.to_player.name}}</div>
              <div class="player-score">{{challenge.to_player_score}} Points</div>
            </div>
          </div>
          <div class="button-container">
            <div class="button locked">{{unbound (fa-icon 'fa-clock-o')}}<span class="button-text"> wait</span></div>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#if (eq currentSection 'won')}}
        {{#each wonChallenges.content as |challenge|}}
          <div class="list-item challenge">
            <div class="challenge-player">
              <div class="img_container">
                <img src="{{challenge.from_player.img_url}}" class="profile small" />
              </div>
              <div class="challenge-player-infos">
                <div class="player-name">{{challenge.from_player.name}}</div>
                <div class="player-score">{{challenge.from_player_score}} Points</div>
              </div>
            </div>
            <div class="challenge-player">
              <div class="img_container">
                <img src="{{challenge.to_player.img_url}}" class="profile small" />
              </div>
              <div class="challenge-player-infos">
                <div class="player-name">{{challenge.to_player.name}}</div>
                <div class="player-score">{{challenge.to_player_score}} Points</div>
              </div>
            </div>
            <div class="button-container">
              <div class="button locked">{{unbound (fa-icon 'fa-clock-o')}}<span class="button-text"> wait</span></div>
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#if (eq currentSection 'lost')}}
          {{#each lostChallenges.content as |challenge|}}
            <div class="list-item challenge">
              <div class="challenge-player">
                <div class="img_container">
                  <img src="{{challenge.from_player.img_url}}" class="profile small" />
                </div>
                <div class="challenge-player-infos">
                  <div class="player-name">{{challenge.from_player.name}}</div>
                  <div class="player-score">{{challenge.from_player_score}} Points</div>
                </div>
              </div>
              <div class="challenge-player">
                <div class="img_container">
                  <img src="{{challenge.to_player.img_url}}" class="profile small" />
                </div>
                <div class="challenge-player-infos">
                  <div class="player-name">{{challenge.to_player.name}}</div>
                  <div class="player-score">{{challenge.to_player_score}} Points</div>
                </div>
              </div>
              <div class="button-container">
                <div class="button locked">{{unbound (fa-icon 'fa-clock-o')}}<span class="button-text"> wait</span></div>
              </div>
            </div>
          {{/each}}
        {{else}}
          {{#if (eq currentSection 'new')}}
            <div class="list-item challenge">
              <div class="search">{{input value=search_term}}{{unbound (fa-icon "fa-search")}}</div>
            </div>
            {{#each friends_matching_search as |friend|}}
              <div class="list-item challenge">
                <div class="img_container">
                  <img src="{{friend.img_url}}" class="profile small" />
                </div>
                {{friend.name}}
                <div class="button-container">
                  <div class="button active" {{action "sendChallengeRequest" friend}}>{{unbound (fa-icon 'fa-envelope')}}<span class="button-text"> challenge</span></div>
                </div>
              </div>
            {{/each}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
