<h2>
  Leaderboards
  <div class="h-sub-nav">
    <div class="section">
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_filterBy="all") title="All players"}}
        {{fa-icon 'globe'}}
      {{/link-to}}
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_filterBy="friends") title="You and your friends"}}
        {{fa-icon 'group'}}
      {{/link-to}}
    </div>
    <div class="section">
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_sortBy="score") title="by score"}}
        <span class="fa-stack">
          {{fa-icon "fa-circle-o" stack=2}}
          {{fa-icon "fa-rocket" stack=1}}
        </span>
      {{/link-to}}
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_sortBy="achievements") title="by achievement-points"}}
        <span class="fa-stack">
          {{fa-icon "fa-circle-o" stack=2}}
          {{fa-icon "fa-star" stack=1}}
        </span>
      {{/link-to}}
    </div>
  </div>
  {{!-- {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_type="challenges")}}
    <div class="{{if (eq currentLeaderboardType 'challenges') "active button pvp" "button pvp" }}" title="sort by won challenges">
      <span class="fa-stack">
        {{fa-icon "fa-user" stack=1 classNames="player-1"}}
        {{fa-icon "fa-user" stack=1 classNames="player-2"}}
        {{fa-icon "fa-arrows-h" stack=1 classNames="versus"}}
      </span>
    </div>
  {{/link-to}} --}}
  {{!-- {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_type="score")}}
    <div class="{{if (eq currentLeaderboardType 'score') "active button" "button" }}" title="sort by score">
      {{fa-icon 'fa-asterisk'}}
    </div>
  {{/link-to}} --}}
</h2>

{{#scrollable-list class="leaderboard_list"}}
  {{#each sortedPlayers as |top_player index|}}
    <div class="list-item">
      <div class="img_container">
        {{lr-avatar imgUrl=top_player.avatar addonContent=(concat (math index '+' 1) '.')}}
      </div>
      <div class="center_column">
        {{#if (eq sortBy 'score')}}
          {{top_player.rank_by_score}}.
        {{else}}
          {{#if (eq sortBy 'challenges')}}
            {{top_player.rank_by_won_challenges}}.
          {{else}}
            {{#if (eq sortBy 'achievement_points')}}
              {{top_player.rank_by_achievement_points}}
            {{else}}
              {{math index "+" 1}}.
            {{/if}}
          {{/if}}
        {{/if}}
        <div class="name">{{top_player.name}}</div>
      </div>
      <div class="score_container">
        {{#if (eq sortBy 'score')}}
          <span class="score">{{top_player.score}}</span>
          <span class="fa-stack">
            {{fa-icon "fa-circle-o" stack=2}}
            {{fa-icon "fa-rocket" stack=1}}
          </span>
        {{/if}}
        {{#if (eq sortBy 'achievements')}}
          <span class="score">{{top_player.achievement_points}}</span>
          <span class="fa-stack">
            {{fa-icon "fa-circle-o" stack=2}}
            {{fa-icon "fa-star" stack=1}}
          </span>
        {{/if}}
        {{#if (eq sortBy 'challenges')}}
          <span class="score">{{top_player.challenges_won}}</span> challenges won
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#if (eq filterBy 'all')}}
      <div class="loader">
        {{fa-icon "spinner" spin=true}}
      </div>
    {{else}}
      <div class="invite_container">
        <div class="fb-button invite" {{action 'invite'}}>{{fa-icon "facebook-square" size="lg"}} Invite friends</div>
      </div>
      <div class="empty-info-text">
        None of your friends is playing <span class="little_rocket">little rocket</span> yet.<br /><br />
      </div>
    {{/if}}
  {{/each}}
{{/scrollable-list}}
