<h2>
  Leaderboards
  <div class="h-sub-nav">
    <div class="section">
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_filterBy="all") title="All players"}}
        {{fa-icon 'globe'}}
      {{/link-to}}
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_filterBy="friends") title="You and your friends"}}
        {{fa-icon 'group'}}
      {{/link-to}}
    </div>
    <div class="section">
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_sortBy="score") title="by score"}}
        <span class="fa-stack">
          {{fa-icon "fa-circle-o" stack=2}}
          {{fa-icon "fa-rocket" stack=1}}
        </span>
      {{/link-to}}
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_sortBy="achievements") title="by achievement-points"}}
        <span class="fa-stack">
          {{fa-icon "fa-circle-o" stack=2}}
          {{fa-icon "fa-star" stack=1}}
        </span>
      {{/link-to}}
    </div>
  </div>
  {{!-- {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_type="challenges")}}
    <div class="{{if (eq currentLeaderboardType 'challenges') "active button pvp" "button pvp" }}" title="sort by won challenges">
      <span class="fa-stack">
        {{fa-icon "fa-user" stack=1 classNames="player-1"}}
        {{fa-icon "fa-user" stack=1 classNames="player-2"}}
        {{fa-icon "fa-arrows-h" stack=1 classNames="versus"}}
      </span>
    </div>
  {{/link-to}} --}}
  {{!-- {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_type="score")}}
    <div class="{{if (eq currentLeaderboardType 'score') "active button" "button" }}" title="sort by score">
      {{fa-icon 'fa-asterisk'}}
    </div>
  {{/link-to}} --}}
</h2>

{{leaderboard-list sortedPlayers=sortedPlayers sortBy=sortBy filterBy=filterBy}}
