<h2>
  Leaderboards
  <div class="h-sub-nav">
    {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_filterBy="all") title="All players"}}
      {{fa-icon 'globe'}}
    {{/link-to}}
    {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_filterBy="friends") title="Your friends"}}
      {{fa-icon 'group'}}
    {{/link-to}}
  </div>
  {{!-- {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_type="challenges")}}
    <div class="{{if (eq currentLeaderboardType 'challenges') "active button pvp" "button pvp" }}" title="sort by won challenges">
      <span class="fa-stack">
        {{fa-icon "fa-user" stack=1 classNames="player-1"}}
        {{fa-icon "fa-user" stack=1 classNames="player-2"}}
        {{fa-icon "fa-arrows-h" stack=1 classNames="versus"}}
      </span>
    </div>
  {{/link-to}} --}}
  {{!-- {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_type="score")}}
    <div class="{{if (eq currentLeaderboardType 'score') "active button" "button" }}" title="sort by score">
      {{fa-icon 'fa-asterisk'}}
    </div>
  {{/link-to}} --}}
</h2>
<div class="leaderboard_list scrollable_list">
  {{#if (gt players.content.length 0)}}
    {{#each players.content as |top_player|}}
      <div class="list-item">

        <div class="img_container">
          <img src="http://graph.facebook.com/{{top_player.fb_id}}/picture" class="profile small" />
        </div>
        <div class="container-column">
          <div class="name">{{top_player.name}}</div>
          <div class="score_container">
            {{#if (eq sortBy 'score')}}
              <span class="score">{{top_player.score}}</span> Points
            {{else}}
              {{#if (eq sortBy 'challenges')}}
                <span class="score">{{top_player.challenges_won}}</span> challenges won
              {{/if}}
            {{/if}}
          </div>
        </div>
        <div class="rank_container">
          <span class="rank">
            {{#if (eq sortBy 'score')}}
              {{top_player.rank}}
            {{else}}
              {{#if (eq sortBy 'challenges')}}
                {{top_player.rank_by_won_challenges}}
              {{/if}}
            {{/if}}
          </span>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="empty-info-text">This leaderboard is currently empty.</div>
  {{/if}}
</div>
