<div class="leaderboard__top-bar">
  <h2>Leaderboards</h2>
  <div class="lr-horizontal-nav lr-horizontal-nav--right lr-horizontal-nav--subnav">
    <div class="lr-horizontal-nav__group">
      {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_filterBy="all") title="All players"}}
        {{fa-icon 'globe'}}
      {{/link-to}}
      {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_filterBy="friends") title="You and your friends"}}
        {{fa-icon 'group'}}
      {{/link-to}}
    </div>
    <div class="lr-horizontal-nav__group">
      {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_sortBy="score") title="by score"}}
        {{fa-icon "fa-rocket"}}
      {{/link-to}}
      {{#link-to 'index' (query-params social_section="leaderboard" leaderboard_sortBy="achievements") title="by achievement-points"}}
        {{fa-icon "fa-star"}}
      {{/link-to}}
    </div>
  </div>
  {{!-- {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_type="challenges")}}
    <div class="{{if (eq currentLeaderboardType 'challenges') "active button pvp" "button pvp" }}" title="sort by won challenges">
      <span class="fa-stack">
        {{fa-icon "fa-user" stack=1 classNames="player-1"}}
        {{fa-icon "fa-user" stack=1 classNames="player-2"}}
        {{fa-icon "fa-arrows-h" stack=1 classNames="versus"}}
      </span>
    </div>
  {{/link-to}} --}}
  {{!-- {{#link-to 'intern' (query-params social_section="leaderboard" leaderboard_type="score")}}
    <div class="{{if (eq currentLeaderboardType 'score') "active button" "button" }}" title="sort by score">
      {{fa-icon 'fa-asterisk'}}
    </div>
  {{/link-to}} --}}
</div>

{{leaderboard-list sortedPlayers=sortedPlayers sortBy=sortBy filterBy=filterBy}}
