{{top-nav-bar me=model}}

<div id="main">

			<div class="clouds clouds_left show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>
			<div class="clouds clouds_right show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>

			<div class="row">

				<div class="columns hud-container cockpit">
					{{player-hud-component
						me=model
						currentSection=player_hud_section
						currentCockpitSection=cockpit_section
						currentLabSection=lab_section}}
				</div>

				<div class="columns game">
					{{game-canvas me=model}}
					{{outlet}}
				</div>

				<div class="columns hud-container leaderboard">
					{{social-component
						me=model
						currentSection=social_section
						currentChallengesSection=challenges_section
						leaderboardFilterBy=leaderboard_filterBy
						leaderboardSortBy=leaderboard_sortBy
						armadaSection=armada_section}}
				</div>

			</div>

			<div class="row">
			  <div class="control-infos show-for-large-up">
			      <div class="flex-container direction-column">
			        <div class="flex-item center control-info-button">
			          {{#tooltip-component tooltip="shoot"}}
			            {{fa-icon "caret-up" size="lg"}}
			          {{/tooltip-component}}
			        </div>
			        <div class="flex-item center flex-container direction-row">
			          <div class="control-info-button left">
			            {{#tooltip-component tooltip="move left"}}
			              {{fa-icon "caret-left" size="lg"}}
			            {{/tooltip-component}}
			          </div>
			          <div class="control-info-button down">
			            {{#tooltip-component tooltip="slow down"}}
			              {{fa-icon "caret-down" size="lg"}}
			            {{/tooltip-component}}
			          </div>
			          <div class="control-info-button right">
			            {{#tooltip-component tooltip="move right"}}
			              {{fa-icon "caret-right" size="lg"}}
			            {{/tooltip-component}}
			          </div>
			        </div>
			      </div>
			  </div>
			</div>

			<div class="row show-for-large-up">
				<div class="small-12 columns">
					{{footer-banner id='footer_banner'}}
				</div>
			</div>

</div>
