{{top-nav-bar me=model}}

<div id="main">

			<div class="clouds clouds_left show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>
			<div class="clouds clouds_right show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>

			<div class="row">
				{{outlet}}
			</div>

			{{!-- control infos --}}
			<div class="row">
			  <div class="control-infos show-for-large-up">
			      <div class="flex direction-column">
			        <div class="flex-item center control-info-button">
			          {{#tooltip-component tooltip="shoot"}}
			            {{fa-icon "caret-up" size="lg"}}
			          {{/tooltip-component}}
			        </div>
			        <div class="flex-item center flex direction-row">
			          <div class="control-info-button left">
			            {{#tooltip-component tooltip="move left"}}
			              {{fa-icon "caret-left" size="lg"}}
			            {{/tooltip-component}}
			          </div>
			          <div class="control-info-button down">
			            {{#tooltip-component tooltip="slow down"}}
			              {{fa-icon "caret-down" size="lg"}}
			            {{/tooltip-component}}
			          </div>
			          <div class="control-info-button right">
			            {{#tooltip-component tooltip="move right"}}
			              {{fa-icon "caret-right" size="lg"}}
			            {{/tooltip-component}}
			          </div>
			        </div>
			      </div>
			  </div>
			</div>

			{{overlay-component me=model overlay_section=overlay_section}}

</div>
